.addDog {
  padding: 120px 0 180px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 804px;
    margin: 0 auto;
    @media (max-width: "1024px") {
      width: 560px;
    }
  }

  &__message {
    width: 50%;
    margin: 0 auto;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #F79007;
  }
}