.dogList {
  display: grid;
  gap: 24px;
  margin: 0 auto;
  @media (min-width: 919px) and (max-width: 1380px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 1380px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 919px) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__message {
    width: 50%;
    margin: 0 auto;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #F79007;
  }
}