.dogList {
  display: grid;
  gap: 24px;
  margin: 0 auto;
  @media (min-width: 919px) and (max-width: 1380px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 1380px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 919px) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__message {
    grid-column: 1 / -1;
    width: 90%;
    height: 650px;
    margin: 0 auto;
    background: url("../assets/images/no-dogs.png") no-repeat center bottom / 80%;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #F79007;
  }
}