.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  &__list {
    display: flex;
    list-style: none;
    padding: 0;
  }

  &__item {
    margin: 0 5px;

    &.active {
      .pagination__link {
        background-color: #F79007;
        color: #fff;
        border-color: #F79007;
      }
    }
  }

  &__link {
    padding: 10px 15px;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: #fff;
  }

  &__ellipsis {
    padding: 12px 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: default;
  }
}
