.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &.active {
    display: flex;
  }
}

.searchDogForm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 760px;
  padding: 40px;
  background: #FFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  &.active {
    position: absolute;
    top: 170px;
    left: 10px;
    display: flex;
    z-index: 500;
  }

  &__title {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000;
  }

  &__row {
    display: flex;
    align-items: flex-start;
    gap: 30px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    height: 320px;
    padding: 20px;
    border: 1px solid #ddd;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 246px;
    margin-bottom: 12px;
  }

  &__label {
    display: block;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000;
  }

  &__radioBtns {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__radioLabel,
  &__checkboxLabel {
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
    margin-top: 6px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000;
  }

  &__button {
    width: 140px;
    margin-top: 16px;
    padding: 8px 42px;
    background-color: #F79007;
    border: 1px solid transparent;
    border-radius: 8px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000;

    &:hover {
      background-color: #FFF;
      border: 1px solid #000;
      cursor: pointer;
    }
  }

  &__closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 600;
  }

  &__resetLink {
    display: block;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    text-underline-offset: 4px;
    color: #000;

    &:hover {
      text-decoration-line: underline;
      text-underline-offset: 4px;
      color: #F79007;
      cursor: pointer;
    }
  }
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #727171;
  border-radius: 8px;
  box-sizing: border-box;
}

input[type="radio"] {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.errorInput {
  border-color: red;
}

.errorText {
  color: red;
  font-size: 12px;
}