/* MAIN STYLES */

@import "normalize.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

/* Variables */

$maxWidth: 1920px;
$maxWidthContainer: 1580px;
$md1: 1200px;
$md2: 1024px;

/* Layout */

html {
  overflow-x: hidden;
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
  @media (hover:hover) and (pointer:fine) {
    * :hover {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }
  }
}

.wrapper {
  position: relative;
  max-width: $maxWidth;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 40px;
  @media (max-width: $md1) {
    min-width: 1024px;
  }
  @media (max-width: $md2) {
    min-width: 900px;
    padding: 0 20px;
  }
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}

.main {
  flex: 1 1 auto;
}

.h2 {
  margin-bottom: 40px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: #000;
}