.topbar {
  padding: 12px 0;
  background-color: #000;

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-end;

  }

  &__menu {
    display: flex;
    gap: 20px;
  }

  &__item {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFF;

    &:hover {
      color: #F79007;
      cursor: pointer;
    }
  }
}