/* HEADER */

.header {
  padding: 90px 0 25px 0;
  background: -webkit-linear-gradient(124deg, #fccc2b,#fccc0d,#fcc40c,#fcbc0c,#fcb204);
  background: linear-gradient(124deg, #fccc2b,#fccc0d,#fcc40c,#fcbc0c,#fcb204);
  overflow: hidden;
  @media (max-width: $md2) { //1023
    padding-top: 50px;
  }
  @media (max-width: $md4) { //479
    padding-top: 30px;;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title-form {
    display: flex;
    flex-direction: column;
    width: 58%;
    @media (max-width: $md3) { //767
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 15px;
    font-family: $ffSource;
    font-size: 80px;
    font-weight: bold;
    line-height: 1;
    color: #FFFFFF;
    text-shadow: 0px 14px 15px rgba(255, 174, 0, 0.01), 0px 27px 82px rgba(255, 174, 0, 0.28);
    -webkit-text-shadow: 0px 14px 15px rgba(255, 174, 0, 0.01), 0px 27px 82px rgba(255, 174, 0, 0.28);
    -moz-text-shadow: 0px 14px 15px rgba(255, 174, 0, 0.01), 0px 27px 82px rgba(255, 174, 0, 0.28);
    -ms-text-shadow: 0px 14px 15px rgba(255, 174, 0, 0.01), 0px 27px 82px rgba(255, 174, 0, 0.28);
    -o-text-shadow: 0px 14px 15px rgba(255, 174, 0, 0.01), 0px 27px 82px rgba(255, 174, 0, 0.28);
    @media (max-width: $md1) { //1200
      font-size: 70px;
    }
    @media (max-width: $md2) { //1023
      font-size: 55px;
    }
    @media (max-width: $md4) { //479
      font-size: 30px;
    }
  }

  &__subtitle {
    margin-bottom: 32px;
    font-weight: normal;
    color: $color4;
    @media (max-width: $md1) { //1200
      font-size: 18px;
    }
    @media (max-width: $md2) { //1023
      margin-bottom: 24px;
      font-size: 16px;
    }
    @media (max-width: $md4) { //479
      margin-bottom: 16px;
      font-size: 12px;
    }
  }

  &__image {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 38%;
    img {
      max-width: 100%;
    }
    @media (max-width: $md3) { //767
      display: none;
    }
  }

  &__image-shadow {
    position: absolute;
    width: 619px;
    height: 612px;
    left: 0;
    top: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    @media (max-width: $md3) { //767
      display: none;
    }
  }
  &__image-ellipse96 {
    position: absolute;
    width: 611px;
    height: 612px;
    left: 0;
    top: 0;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.7);
    mix-blend-mode: multiply;
    filter: blur(40.81px);
    -webkit-filter: blur(40.81px);
    -moz-filter: blur(40.81px);
    -ms-filter: blur(40.81px);
    -o-filter: blur(40.81px);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    @media (max-width: $md3) { //767
      display: none;
    }
  }
  &__image-ellipse97 {
    position: absolute;
    width: 539px;
    height: 540px;
    top: 11px;
    left: 0;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(205, 205, 205, 0.8) 0%, rgba(196, 196, 196, 0) 100%);
    mix-blend-mode: multiply;
    filter: blur(13.1028px);
    -webkit-filter: blur(13.1028px);
    -moz-filter: blur(13.1028px);
    -ms-filter: blur(13.1028px);
    -o-filter: blur(13.1028px);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    @media (max-width: $md3) { //767
      display: none;
    }
  }
}