/* RESTAURANTS */

.restaurants {
  padding: 0 0 80px;
  background-color: #fff;
  @media (max-width: $md2) { //1023
    padding: 0 0 60px;
  }
  @media (max-width: $md3) { //767
    padding: 20px 0 40px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: $color9;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 64px 16px;
    width: 100%;
    margin-bottom: 88px;
    @media (max-width: $md2) { //1023
      grid-template-columns: repeat(3, 1fr);
      gap: 40px 16px;
      margin-bottom: 60px;
    }
    @media (max-width: $md3) { //767
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 40px;
    }
    @media (max-width: $md4) { //479
      grid-template-columns: repeat(1, 1fr);
      gap: 30px 16px;
      width: 70%;
    }
  }
  
  &__card {
    display: grid;
    grid-template-rows: auto auto 1fr;
    align-items: flex-start;
    height: auto;
    border-radius: 16px;
    border: 1px solid #F5F5F5;
    overflow: hidden;

    &:nth-child(n+5) {
      display: none;
    }
    @media (max-width: $md2) { //1023
      &:nth-child(n+4) {
        display: none;
      }
    }
    @media (max-width: $md3) { //767
      &:nth-child(n+3) {
        display: none;
      }
    }
    @media (max-width: $md4) { //479
      &:nth-child(n+3) {
        display: none;
      }
    }
  }

  &__image {
    position: relative;
    width: 100%;
    margin-bottom: 24px;
    border-radius: 16px;
    overflow: hidden;
    img {
      max-width: 100%;
    }
  }

  &__promo {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &__about {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: flex-start;
    margin-bottom: 32px;
  }

  &__info {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: start;
    height: 64px;
  }

  &__logo {
    margin-right: 24px;
  }

  &__name {
    margin-bottom: 4px;
    color: $color3;
    font-size: 20px;
    @media (max-width: $md1) { //1200
      font-size: 18px;
    }
    @media (max-width: $md2) { //1023
      margin-bottom: 0;
      font-size: 16px;
    }
    @media (max-width: $md4) { //479
      padding: 8px 0 0;
      font-size: 14px;
    }
  }

  &__status {
    width: 100%;
    margin-top: auto;
    padding: 16px;
    font-family: $ffSource;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.2;
    background-color: rgba(241, 114, 40, 0.2);
    color: $color1;
    @media (max-width: $md1) { //1200
      font-size: 20px;
    }
    @media (max-width: $md2) { //1023
      font-size: 16px;
    }
    @media (max-width: $md4) { //479
      padding: 8px;
      font-size: 14px;
    }

    &._open {
      background: rgba(121, 185, 60, 0.2);
      color: #79B93C;
    }
  }

  &__button {
    gap: 10px;
    padding: 21px 48px;
    background: -webkit-linear-gradient(97.86deg, #FFBA26 -8.95%, #FF9A0E 109.24%);
    background: -moz-linear-gradient(97.86deg, #FFBA26 -8.95%, #FF9A0E 109.24%);
    background: -o-linear-gradient(97.86deg, #FFBA26 -8.95%, #FF9A0E 109.24%);
    background: linear-gradient(97.86deg, #FFBA26 -8.95%, #FF9A0E 109.24%);
    -webkit-box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
    -moz-box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
    box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
    color: #fff;

    &:hover {
      background: #fff;
      color: $color1;
      transition: none;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: background-color 0.3s ease 0s;
      -webkit-transition: background-color 0.3s ease 0s;
      -moz-transition: background-color 0.3s ease 0s;
      -ms-transition: background-color 0.3s ease 0s;
      -o-transition: background-color 0.3s ease 0s;
      path {
        fill: $color1;
      }
    }
  }
}

.promo {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 8px;
  font-family: $ffSource;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  @media (max-width: $md1) { //1200
    font-size: 18px;
  }
  @media (max-width: $md2) { //1023
    font-size: 16px;
    gap: 6px;
  }
  @media (max-width: $md4) { //479
    font-size: 14px;
  }

  &__icon {
    display: grid;
    align-items: center;
    margin-right: 4px;
  }

  &__discount,
  &__time {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 8px 14px;
    background-color: $color1;
    border-radius: 8px;
    color: #fff;
    @media (max-width: $md1) { //1200
      padding: 8px 12px;
    }
    @media (max-width: $md2) { //1023
      padding: 8px 14px;
    }
    @media (max-width: $md4) { //479
      padding: 6px 12px;
    }
  }

  &__time {
    background-color: $color2
  }
}

.rating {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 8px;
  font-family: $ffSource;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.2;
  color: $color2;
  @media (max-width: $md1) { //1200
    font-size: 20px;
  }
  @media (max-width: $md2) { //1023
    margin-bottom: 0;
    font-size: 16px;
  }
  @media (max-width: $md4) { //479
    height: 50px;
    padding: 8px;
    font-size: 14px;
  }
  span {
    display: -ms-inline-grid;
    align-items: center;
  }
}