/* MAIN STYLES */

@import "normalize";

/* ПЕРЕМЕННЫЕ */

$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1580px;
$md1: 1200px;
$md2: 1023px;
$md3: 767px;
$md4: 479px;

$ffSource: 'Source Sans Pro';
$ffOpen: 'Open Sans';

$color1: #F17228;
$color2: #FFB30E;
$color3: #424242;
$color4: #504F4F;
$color5: #757575;
$color6: #FF8A00;
$color7: #434343;
$color8: #9E9E9E;
$color9: #212121;
$color10: #FEFAF1;
$color11: #FEEFD0;
$color12: #353535;

/* ==================================== */


/* ОБЩИЕ ПАРАМЕТРЫ | ОБОЛОЧКА | ОСН. СЕТКА */

html {
  overflow-x: hidden;
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
  @media (hover:hover) and (pointer:fine) {
    * :hover {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }
  }
}

.wrapper {
  max-width: $maxWidth;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 50px;
  @media (max-width: $md1) {
    min-width: 1024px;
  }
  @media (max-width: $md2) {
    min-width: 768px;
    padding: 0 20px;
  }
  @media (max-width: $md3) {
    min-width: 480px;
  }
  @media (max-width: $md4) {
    min-width: $minWidth;
    padding: 0 12px;
  }
}
/* ==================================== */

/* ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ */

@import "ui";
@import "top";
@import "header";
@import "flash-deals";
@import "how-works";
@import "popular";
@import "restaurants";
@import "search-food";
@import "benefits";
@import "download";
@import "details";
@import "cta";

/* ==================================== */


/* ОСНОВНОЙ БЛОК */

.main {
  flex: 1 1 auto;
}