/* TOP */

.top {
  padding: 20px 0;
  background: #FFFFFF;
  @media (max-width: $md3) { //767
    padding: 10px 0;
  }

  &__container {
    @media (max-width: $md1) { //1200
      position: relative;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: $md1) { //1200
      padding-top: 60px;
    }
    @media (max-width: $md3) { //767
      padding-bottom: 50px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }
}

.logo {
  @media (max-width: $md1) { //1200
    width: 20%;;
  }

  &__img {
    display: block;
    margin-right: 12px;
    @media (max-width: $md4) { //479
      width: 20px;
      margin-right: 4px;
    }
  }

  &__text {
    font-family: $ffSource;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    @media (max-width: $md4) { //479
      font-size: 20px;
    }

    ._left {
      color: $color1;
      letter-spacing: -0.62px;
    }
    ._right {
      color: $color2;
      letter-spacing: -0.78px;
      > span {
        font-size: 25px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: -0.62px;
        @media (max-width: $md4) { //479
          font-size: 17px;
        }
      }
    }
  }
}

.deliver {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  font-size: 18px;
  line-height: 1.4;
  @media (max-width: $md1) { //1200
    position: absolute;
    top: 0;
    left: 0;
    justify-content: flex-start;
    width: 100%;
    min-width: 1024px;
    padding: 0 50px;
    font-size: 14px;
  }
  @media (max-width: $md2) { //1023
    min-width: 768px;
    padding: 0 20px;
  }
  @media (max-width: $md3) { //767
    min-width: 480px;
  }
  @media (max-width: $md4) { //479
    min-width: $minWidth;
    padding: 0 12px;
    font-size: 12px;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: auto;
    margin-right: 12px;
    font-family: $ffSource;
    font-weight: bold;
    color: $color3;
    @media (max-width: $md1) { //1200
      justify-content: flex-start;
    }
  }

  &__icon {
    width: 24px;
    height: 20px;
    margin-right: 6px;
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 74%;
    padding: 0 10px 0 4px;
    font-family: $ffOpen;
    font-weight: bold;
    font-size: 12px;
    line-height: 2;
    @media (max-width: $md1) { //1200
      width: 90%;
      line-height: 1.6;
    }
    @media (max-width: $md2) { //1023
      width: 87%;
      line-height: 1.4;
    }
    @media (max-width: $md3) { //767
      width: 80%;
      line-height: 1.2;
    }
    @media (max-width: $md4) { //479
      width: 70%;
      font-size: 10px;
    }
  }
}

.tools {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__search {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 30px;
    @media (max-width: $md3) { //767
      position: absolute;
      left: 0;
      bottom: 10px;
      width: 100%;
      min-width: 480px;
      padding: 0 12px;
      z-index: 500;
    }
    @media (max-width: $md4) { //479
      min-width: $minWidth;
    }
  }

  &__search-icon {
    display: block;
    margin-right: 8px;
    cursor: pointer;
    @media (max-width: $md3) { //767
      margin-right: 4px;
    }
  }

  &__search-input {
    width: 98px;
    height: 18px;
    padding: 10px;
    border: 1px solid #F5F5F5;
    font-family: $ffSource;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    color: $color3;
    transition: width 0.3s ease-in-out;
    &::placeholder {
      opacity: 1;
      -webkit-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
    }
    @media (min-width: 768px) {
      &.expanded {
        width: 300px;
      }
    }
    @media (max-width: $md1) { //1200
      width: 100%;
    }
  }

  &__login {
    width: 118px;
    height: 46px;
    gap: 10px;
    padding: 14px 24px;
    box-shadow: 0 20px 40px 0 rgba(255, 174, 0, 0.29), 0 5px 10px 0 rgba(255, 174, 0, 0.26);
    -webkit-box-shadow: 0 20px 40px 0 rgba(255, 174, 0, 0.29), 0 5px 10px 0 rgba(255, 174, 0, 0.26);
    -moz-box-shadow: 0 20px 40px 0 rgba(255, 174, 0, 0.29), 0 5px 10px 0 rgba(255, 174, 0, 0.26);
    background-color: #fff;
    color: $color6;
    &:hover {
      background-color: $color1;
      color: #fff;
      transition: none;
      -webkit-transition: background-color 0.3s ease 0s;
      -moz-transition: background-color 0.3s ease 0s;
      -o-transition: background-color 0.3s ease 0s;
      transition: background-color 0.3s ease 0s;
      path {
        fill: #fff;
      }
    }
    @media (max-width: $md4) { //479
      width: 90px;
      padding: 0 10px;
    }
  }

  &__login-text {
    display: block;
    height: 20px;
  }
}