/* TOP */

.top {
  padding: 20px 0;
  background: #FFFFFF;
  @media (max-width: $md3) { //767
    padding: 10px 0;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $md1) { //1200
      flex-wrap: wrap;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }
}

.logo {
  @media (max-width: $md1) { //1200
    width: 50%;;
  }

  &__img {
    display: block;
    margin-right: 12px;
    @media (max-width: $md4) { //479
      width: 20px;
      margin-right: 4px;
    }
  }

  &__text {
    font-family: $ffSource;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    @media (max-width: $md4) { //479
      font-size: 20px;
    }

    ._left {
      color: $color1;
      letter-spacing: -0.62px;
    }
    ._right {
      color: $color2;
      letter-spacing: -0.78px;
      > span {
        font-size: 25px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: -0.62px;
        @media (max-width: $md4) { //479
          font-size: 17px;
        }
      }
    }
  }
}

.deliver {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.4;
  @media (max-width: $md1) { //1200
    order: 3;
    width: 100%;
    margin-top: 24px;
  }
  @media (max-width: $md3) { //767
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1.5;
  }
  @media (max-width: $md4) { //479
    flex-direction: column;
    align-items: flex-start;
  }

  &__head {
    display: flex;
    align-items: center;
    margin-right: 4px;
  }

  &__header {
    margin-right: 12px;
    font-family: $ffSource;
    font-weight: bold;
    color: $color3;
  }

  &__icon {
    display: block;
    margin-right: 9px;
  }

  &__infotext {
    margin-right: 4px;
    font-family: $ffOpen;
  }

  &__body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: $ffOpen;
    font-weight: bold;
    line-height: 2;
  }
}

.tools {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media (max-width: $md1) { //1200
    width: 50%;
  }

  &__search {
    display: flex;
    align-items: center;
    margin-right: 30px;
    @media (max-width: $md1) { //1200
      width: 100%;
    }
    @media (max-width: $md3) { //767
      display: none;
    }
  }

  &__search-mobile {
    display: none;
    @media (max-width: $md3) { //767
      display: flex;
      width: 100%;
      margin-top: 24px;
    }
  }

  &__search-icon {
    display: block;
    margin-right: 8px;
    cursor: pointer;
    @media (max-width: $md3) { //767
      margin-right: 4px;
    }
  }

  &__search-input {
    width: 98px;
    height: 18px;
    padding: 10px;
    border: 1px solid #F5F5F5;
    -webkit-border: 1px solid #F5F5F5;
    -moz-border: 1px solid #F5F5F5;
    -ms-border: 1px solid #F5F5F5;
    -o-border: 1px solid #F5F5F5;
    font-family: $ffSource;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    color: $color3;
    &::placeholder {
      opacity: 1;
      -webkit-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
    }
    @media (max-width: $md1) { //1200
      width: 100%;
    }
    &._mobile {
      width: 100%;
    }
  }

  &__login {
    width: 118px;
    height: 46px;
    gap: 10px;
    padding: 14px 24px;
    box-shadow: 0 20px 40px 0 rgba(255, 174, 0, 0.29), 0 5px 10px 0 rgba(255, 174, 0, 0.26);
    -webkit-box-shadow: 0 20px 40px 0 rgba(255, 174, 0, 0.29), 0 5px 10px 0 rgba(255, 174, 0, 0.26);
    -moz-box-shadow: 0 20px 40px 0 rgba(255, 174, 0, 0.29), 0 5px 10px 0 rgba(255, 174, 0, 0.26);
    background-color: #fff;
    color: $color6;
    &:hover {
      background-color: $color1;
      color: #fff;
      transition: none;
      -webkit-transition: background-color 0.3s ease 0s;
      -moz-transition: background-color 0.3s ease 0s;
      -o-transition: background-color 0.3s ease 0s;
      transition: background-color 0.3s ease 0s;
      path {
        fill: #fff;
      }
    }
    @media (max-width: $md3) { //767
      width: 100px;
      padding: 8px 18px;
    }
  }

  &__login-text {
    display: block;
    height: 20px;
  }
}
/*
@media (max-width: $md1) { //1200
  min-width: 1124px;
}
@media (max-width: $md2) { //1023
  min-width: 808px;
  padding: 0 20px;
}
@media (max-width: $md3) { //767
  min-width: 520px;
}
@media (max-width: $md4) { //479
  min-width: $minWidth;
}
*/