/* UI and ELEMENTS */

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    font-family: $ffSource;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    @media (max-width: $md3) { //767
      font-size: 16px;
    }
  }
}

.line {
  width: 100%;
  -webkit-border-top: 1px solid #F5F5F5;
  -moz-border-top: 1px solid #F5F5F5;
  -ms-border-top: 1px solid #F5F5F5;
  -o-border-top: 1px solid #F5F5F5;
  border-top: 1px solid #F5F5F5;
}

.slider {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 500;

  &__arrows-wrapper {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 140px;
    @media (max-width: $md1) { //1200
      svg {
        width: 120px;
        height: 120px;
      }
    }
    @media (max-width: $md2) { //1023
      svg {
        width: 100px;
        height: 100px;
      }
    }
    @media (max-width: $md3) { //767
      svg {
        width: 80px;
        height: 80px;
      }
    }
  }

  &__arrow-left {
    position: absolute;
    left: -20px;
    display: inline-block;
    @media (max-width: $md4) { //479
      left: 0;
    }
  }
  
  &__arrow-right {
    position: absolute;
    right: -20px;
    display: inline-block;
    @media (max-width: $md4) { //479
      right: 0;
    }
  }

  &__arrow-left,
  &__arrow-right {
    &:hover {
      cursor: pointer;
      rect {
        fill: #fff;
      }
      path {
        fill: $color2;
      }
    }
  }
}