/* UI and ELEMENTS */

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

._relative {
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 500;
}

.overlay.active {
  display: block;
}

.preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid $color6;
  transform: translate(-50%, -50%);
  animation: spin 2s linear infinite;
  z-index: 300;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  padding: 10px;
  background-color: $color1;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.h2 {
  margin-bottom: 80px;
  font-family: $ffSource;
  font-size: 43px;
  font-weight: bold;
  line-height: 1.12;
  text-align: center;
  @media (max-width: $md1) { //1200
    margin-bottom: 60px;
    font-size: 36px;
  }
  @media (max-width: $md2) { //1023
    margin-bottom: 40px;
    font-size: 32px;
  }
  @media (max-width: $md3) { //767
    
  }
  @media (max-width: $md4) { //479
    margin-bottom: 24px;
    font-size: 24px;
  }
}

.h4 {
  font-family: $ffSource;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    font-family: $ffSource;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    @media (max-width: $md3) { //767
      font-size: 16px;
    }
  }
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    margin-right: 10px;
    font-family: $ffSource;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    color: $color2;
    transition: none;
    @media (max-width: $md3) { //767
      font-size: 16px;
    }
  }

  &:hover {
    span {
      color: $color1;
      transition: none;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
    }
    path {
      fill: $color1;
    }
  }
}

.line {
  width: 100%;
  -webkit-border-top: 1px solid #F5F5F5;
  -moz-border-top: 1px solid #F5F5F5;
  -ms-border-top: 1px solid #F5F5F5;
  -o-border-top: 1px solid #F5F5F5;
  border-top: 1px solid #F5F5F5;
}

.slider {
  display: flex;
  align-items: center;
  width: 100%;

  &__arrows-wrapper {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 140px;
    z-index: 0;
    @media (max-width: $md1) { //1200
      svg {
        width: 120px;
        height: 120px;
      }
    }
    @media (max-width: $md2) { //1023
      svg {
        width: 100px;
        height: 100px;
      }
    }
    @media (max-width: $md3) { //767
      svg {
        width: 80px;
        height: 80px;
      }
    }
  }

  &__arrow-left {
    position: absolute;
    left: -20px;
    display: inline-block;
    @media (max-width: $md4) { //479
      left: 0;
    }
  }
  
  &__arrow-right {
    position: absolute;
    right: -20px;
    display: inline-block;
    @media (max-width: $md4) { //479
      right: 0;
    }
  }

  &__arrow-left,
  &__arrow-right {
    &:not(._disabled):hover {
      cursor: pointer;
      rect {
        fill: #fff;
      }
      path {
        fill: $color2;
      }
    }

    &._disabled {
      pointer-events: none;
      g {
        filter: none;
      }
  
      rect {
        fill: $color14;
        stroke: $color14;
      }
    }
  }
}

.item {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  margin-bottom: 20px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border: 1px solid #F5F5F5;
  @media (max-width: $md3) { //767
    width: 45%;
  }
  @media (max-width: $md4) { //479
    width: 90%;
  }

  &__image {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 8px;
    overflow: hidden;
    img {
      min-width: 100%;
    }
  }

  &__title,
  &__price {
    width: 100%;
    margin-bottom: 8px;
    padding: 0 8px;
    font-family: $ffSource;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    color: $color3;
    @media (max-width: $md1) { //1200
      font-size: 18px;
    }
    @media (max-width: $md2) { //1023
      font-size: 16px;
    }
    @media (max-width: $md4) { //479
      font-size: 14px;
    }
  }

  &__title {
    height: 34px;
    @media (max-width: $md4) { //479
      height: auto;
    }
  }

  &__point {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 8px;
  }

  &__point-icon {
    display: inline-block;
    margin: 2px 4px 0 0;
  }

  &__point-text {
    font-family: $ffSource;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    color: $color2;
    @media (max-width: $md2) { //1023
      font-size: 16px;
    }
    @media (max-width: $md4) { //479
      font-size: 14px;
    }
  }

  &__price {
    margin-bottom: 16px;
    color: $color9;
  }

  &__button {
    width: 100%;
    margin-top: auto;
    padding-top: 21px;
    padding-bottom: 21px;
    background-color: $color1;
    box-shadow: 0px 5px 10px rgba(253, 114, 92, 0.22), 0px 10px 20px rgba(250, 99, 35, 0.24);
    -webkit-box-shadow: 0px 5px 10px rgba(253, 114, 92, 0.22), 0px 10px 20px rgba(250, 99, 35, 0.24);
    -moz-box-shadow: 0px 5px 10px rgba(253, 114, 92, 0.22), 0px 10px 20px rgba(250, 99, 35, 0.24);
    border: 1px solid #F17228;
    color: #fff;
    @media (max-width: $md2) { //1023
      padding-top: 18px;
      padding-bottom: 18px;
    }
    @media (max-width: $md3) { //767
      padding-top: 14px;
      padding-bottom: 14px;
    }
    @media (max-width: $md4) { //479
      padding-top: 12px;
      padding-bottom: 12px;
    }

    &:hover {
      background: #fff;
      color: $color1;
      transition: none;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: background-color 0.3s ease 0s;
      -webkit-transition: background-color 0.3s ease 0s;
      -moz-transition: background-color 0.3s ease 0s;
      -ms-transition: background-color 0.3s ease 0s;
      -o-transition: background-color 0.3s ease 0s;
    }
  }
}

.divaider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 0;
  svg {
    position: relative;
    display: block;
    width: -webkit-calc(105% + 1.3px);
    width: calc(105% + 1.3px);
    height: 220px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  padding: 0;
  filter: drop-shadow(0px 5px 10px rgba(255, 174, 0, 0.26)) drop-shadow(0px 20px 40px rgba(255, 174, 0, 0.29));
  -webkit-filter: drop-shadow(0px 5px 10px rgba(255, 174, 0, 0.26)) drop-shadow(0px 20px 40px rgba(255, 174, 0, 0.29));
  -moz-filter: drop-shadow(0px 5px 10px rgba(255, 174, 0, 0.26)) drop-shadow(0px 20px 40px rgba(255, 174, 0, 0.29));
  -ms-filter: drop-shadow(0px 5px 10px rgba(255, 174, 0, 0.26)) drop-shadow(0px 20px 40px rgba(255, 174, 0, 0.29));
  -o-filter: drop-shadow(0px 5px 10px rgba(255, 174, 0, 0.26)) drop-shadow(0px 20px 40px rgba(255, 174, 0, 0.29));
  border-radius: 16px;
  background-color: #fff;

  &._footer {
    background-color: transparent;
    filter: none;
  }

  &__button-row {
    display: flex;
    width: 100%;
    padding: 24px;
    @media (max-width: $md2) { //1023
      padding: 16px;
    }
    @media (max-width: $md4) { //479
      padding: 14px;
    }
  }

  &__button-deliver,
  &__button-pickup {
    gap: 10px;
    width: 148px;
    height: 38px;
    margin-right: 8px;
    padding: 10px 24px;
    background-color: #fff;
    border: 1px solid $color5;
    color: $color5;
    @media (max-width: $md4) { //479
      width: 132px;
    }

    &._checked {
      background-color: $color1;
      border: 1px solid transparent;
      color: #fff;
      pointer-events: none;
      path {
        fill: #fff;
      }
    }
    &:hover {
      background-color: $color1;
      border: 1px solid $color1;
      color: #fff;
      transition: none;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: background-color 0.3s ease 0s;
      -webkit-transition: background-color 0.3s ease 0s;
      -moz-transition: background-color 0.3s ease 0s;
      -ms-transition: background-color 0.3s ease 0s;
      -o-transition: background-color 0.3s ease 0s;
      path {
        fill: #fff;
      }
    }
  }

  &__button-pickup {
    @media (max-width: $md4) { //479
      margin-right: 0;
    }
  }

  &__search-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 24px;
    @media (max-width: $md2) { //1023
      padding: 16px;
    }
    @media (max-width: $md4) { //479
      flex-direction: column;
      gap: 8px;
    }

    &._footer {
      padding: 0;
      @media (max-width: $md4) { //479
        flex-direction: row;
        gap: 0;
      }
    }
  }

  &__input-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: 60px;
    margin: 6px 16px 6px 0;
    padding: 10px 16px;
    background-color: $color13;
    border: 1px solid $color13;
    border-radius: 8px;
    @media (max-width: $md2) { //1023
      height: 40px;
    }
    @media (max-width: $md4) { //479
      width: 100%;
      margin: 6px 0;
    }

    &._header {
      position: relative;
    }

    > #suggestions {
      position: absolute;
      bottom: 64px;
      right: 0;
      width: 100%;
      max-height: 200px;
      overflow-y: auto;
      background-color: $color13;
      font-size: 18px;
      color: $color12;
      @media (max-width: $md2) { //1023
        bottom: 44px;
      }
    }

    > #suggestions {
      &.not-found {
        padding: 10px;
        background-color: transparent;
        font-weight: bold;
        color: red;
        pointer-events: none;
        overflow-y: hidden;
        user-select: none;
        cursor: not-allowed;
      }
    }
    
    > #suggestions div {
      padding: 8px;
      cursor: pointer;
    }

    > #suggestions div:hover {
      background-color: $color11;
      color: $color1;
    }

    &._footer {
      margin: 0 16px 0 0;
      background-color: $color3;
      border: 1px solid $color3;

      input[data-autofill="false"] {
        background-color: transparent !important;
      }
    }
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__address-input {
    display: block;
    width: 100%;
    margin-left: 12px;
    background-color: transparent;
    font-family: $ffOpen;
    font-size: 18px;
    line-height: 1.4;
    color: $color3;
    &::placeholder {
      opacity: 1;
    }

    &._footer {
      color: #ADADAD;
      @media (max-width: $md4) { //479
        font-size: 14px;
      }
    }
  }

  &__button-search {
    gap: 2px;
    width: 199px;
    height: 60px;
    padding: 21px 48px;
    background: linear-gradient(95.71deg, #FF7A7A -39.64%, #F75900 135.31%);
    -webkit-background: linear-gradient(95.71deg, #FF7A7A -39.64%, #F75900 135.31%);
    border: 1px solid $color1;
    -webkit-border: 1px solid $color1;
    color: #fff;
    @media (max-width: $md2) { //1023
      height: 40px;
      padding: 10px 20px;
    }
    @media (max-width: $md4) { //479
      width: 100%;
      height: 48px;
      padding: 16px 20px;
    }

    &._footer {
      width: 133px;
      padding: 21px 24px;
      background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
      box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
      border: none;
      @media (max-width: $md4) { //479
        width: auto;
        height: 40px;
        padding: 12px;
      }
    }

    &:hover {
      background: #fff;
      color: $color1;
      transition: none;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: background-color 0.3s ease 0s;
      -webkit-transition: background-color 0.3s ease 0s;
      -moz-transition: background-color 0.3s ease 0s;
      -ms-transition: background-color 0.3s ease 0s;
      -o-transition: background-color 0.3s ease 0s;
      path {
        fill: $color1;
      }
    }
  }
}