/* FRUITS */

.fruits {
  position: relative;
  padding: 40px 0 105px;
  background-color: $color1;
  @media (max-width: $md1) { //1023
    padding: 40px 0 80px;
  }
  @media (max-width: $md2) { //767
    padding: 40px 0 60px;
  }
  @media (max-width: $md3) { //479
    padding: 40px 0 40px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 14px;
    width: 624px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    @media (max-width: $md2) { //767
      width: 440px;
    }
    @media (max-width: $md3) { //479
      width: 335px;
      font-size: 28px;
      line-height: 28px;
    }
  }

  &__annotation {
    width: 547px;
    @media (max-width: $md2) { //767
      width: 440px;
    }
    @media (max-width: $md3) { //479
      width: 335px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 44px;
  }

  &__button {
    padding: 38px 18px;
    background-color: $color2;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    span {
      margin-right: 4px;
    }

    &:hover {
      background-color: #FFFFFF;
      color: $color2;
      transition: none;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: background-color 0.3s ease 0s;
      -webkit-transition: background-color 0.3s ease 0s;
      -moz-transition: background-color 0.3s ease 0s;
      -ms-transition: background-color 0.3s ease 0s;
      -o-transition: background-color 0.3s ease 0s;
      cursor: pointer;
      path {
        fill: $color2;
      }
    }
  }
}