/* MAIN STYLES */

@import "normalize";

/* Variables */

$minWidth: 360px;
$maxWidth: 1920px;
$maxWidthContainer: 1280px;
$md1: 1023px;
$md2: 767px;
$md3: 479px;

$color1: #AE1332;
$color2: #A4CB66;
$color3: #F5CE13;

/* Layout */

html {
  overflow-x: hidden;
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
  @media (hover:hover) and (pointer:fine) {
    a:hover,
    button:hover {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }
  }
}

.wrapper {
  position: relative;
  max-width: $maxWidth;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: 'DM Sans', sans-serif;
}

._container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: 0 32px;
  @media (max-width: $md1) { //1023
    min-width: 768px;
  }
  @media (max-width: $md2) { //767
    min-width: 480px;
    padding: 0 20px;
  }
  @media (max-width: $md3) { //480
    min-width: $minWidth;
    padding: 0 12px;
  }
}

/* Imports */

@import "ui";
@import "header";
@import "about";
@import "how-works";
@import "fruits";
@import "order-popup";
@import "success-popup";
@import "subscribe";
@import "footer";

/* Main */

.main {
  flex: 1 1 auto;
}